@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.background-image{
    background-image:url(images/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
   
     
 }
 .navlink button{
     background-color: rgb(255, 255, 255);
     
     
 }
 .navlink{
     display: flex;
     color: rgb(255, 255, 255);
     justify-content: space-around;
     
 }
 .navlink li{
     font-family: 'Oxygen', sans-serif;
     padding-top: 60px;
    padding-left: 120px;
     list-style: none;
     
 }
 .navlink a:hover{
     border-bottom: 2px solid black;
     cursor: pointer;
     color: greenyellow;
 }
 .navlink a{
     color: rgb(212, 212, 212);
     text-decoration: none;
 }
 
 .text h2{
     font-size: 50px
 }
 .text p{
     font-family: 'Kanit', sans-serif;
 }
 .header{
     color: rgba(255, 255, 255, 0.486);
 }
 .about-tittle{
     font-family: 'Kanit', sans-serif;
     /* padding-top: 14%; */
     float: right;
     
     
 }
 .about-tittle p{
     font-family: 'Playfair Display', serif;
     font-size: large;
     /* padding-top: 20px; */
 }
 .background-image2{
     background-image:url(gray-abstract-wireframe-technology-background.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     padding: 8%;
     height: 100%;
 }
 .SERVICES .image{
     text-align: center;
     font-family: 'Titillium Web', sans-serif;
 }
 .card{
     
 }
 .rooms-cards{
     display: grid;
     grid-template-columns: auto auto;
     text-align: center;
     padding-left: 200px;
     padding-top: 100px;
 }
 .background{
     background-image:url(/basss.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     padding: 3%;
     height: 100%;
 
 }
 
 .facility{
     text-align: left;
     font-family: 'Kanit', sans-serif;
     
 } 
 .facility h6{
     font-family: 'Playfair Display', serif;
 
 }
 .btn-about{
     background-color: rgb(255, 255, 255);
     border-color: greenyellow;
     color: green;
     padding: 1%;
     border-radius: 30px;
 
 }
 .parapgraphy button:hover{
     color: white;
     background-color: green;
 }
/* tranistion */
.about-image {
     animation: fadeIn 10s;
   }
   
   @keyframes fadeIn {
     0% { opacity: 0; }
     100% { opacity: 1; }
   }
 
 .background3{
     
     background-color: rgb(77, 63, 63);
     background-repeat: no-repeat;
     background-position: center;
     padding: 3%;
     height: 100%;
 }
 .grid{
     display: grid;
     grid-template-columns: auto auto auto;
 }
 .maps .contact-us{
     padding-top: 400px;
 }
 .background-faculty{
     padding: 8%;
 }
 .facitity-info{
     padding-top: 50px;
     font-family: 'Abel', sans-serif;
     font-size: larger;
 }
 .icons{
     flex-wrap: wrap;
     padding-top: 50px;
     padding-left: 20px;
 }
 .icons {
     
     padding-left: 10px ;
 }
 .grid-section{
     display: grid;
     grid-template-columns: auto auto auto;
 }
 
 .contact-us, .contact-form{
     padding-top: 90px;
     padding-right: 40px;
 }
 .contact-form{
     color: aliceblue;
 }
 .contact-us li{
     list-style: none;
     color: aliceblue;
     
 }
 .contact-form input{
     display: block;
     
 }
 .logo button{
     background-color: aliceblue;
 }
 .logo a{
     display: block;
     padding-top: 5%;
     filter: grayscale(50%);
     padding-left: 30%;
 }
 .logo a:hover{
     filter: grayscale(0);
 }
 .gridsecction{
     color: aliceblue;
 }
 .terms input{
     display: block;
     
     padding: 3%;
 }
 .name {
     padding-bottom: 30px;
     padding-left: 25px;
 }
 .jjj{
     filter:blur(40);
 }
 .main1 {
   display: none;
   grid-template-columns: 1fr 1fr; /* Two columns */
   grid-gap: 20px; /* Gap between grid items */
 }
 
 .grid-item {
   /* Add any styles you want for each grid item */
 }
 .small-image{
    display: none;
 }
 
 @media screen and (min-width: 600px){

    .text{
        font-family: 'Kanit', sans-serif;
        color: aliceblue;
        text-align: center;
        padding-top: 14%;
        font-size: 40px
    }

 }



 @media screen and (max-width: 600px){

    .text{
        font-family: 'Kanit', sans-serif;
        color: aliceblue;
        text-align: center;
        

    }
 
 .navlink{
 flex-direction: column;
 justify-content: center;
  font-size: large;
 padding-left: 15%;
background-color: cornflowerblue;
padding-bottom: 4dvb;
 }
 .navlink > button{
     display: none;
     
 }
 .small-image{
    display: block;
    
 }
 
 .about-flex{
     flex-direction: column;
 }
 .facility-info{
    flex-direction: column;
 }
 .room-booking{
     flex-direction: column;
     justify-content: center;
 }
 .gridsecction {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
   }
   .newsletter, .about, .terms {
     margin-bottom: 20px;
   }
   .termo{
     display: none;
   }
   /* Images  */
   .images > img{
     padding-right: 10px;
     width: 400px;
   }
   /* Rooms */
   .grid-item > img {
     width: 350px;
   }
  
   .grid-item2{
     font-size: large;
     
     border: none;
   }
 
   .grid-item {
     width: 100%; /* Adjust the width as needed for each grid item */
     padding-left: 0; /* Optionally adjust padding for each grid item */
     border-left: none; /* Optionally remove the left border */
   }
 
   /* Facilities */
   .grid-section{
     display: block;
   }
   .image > img{
     width: 400px;
     border-radius: none;
   }
   .icons>img{
     width: 26px;
   }
   .icons{
     font-size: large;
    
   }
   /* about us */
   .about{
     padding-bottom: 300px;
     
   }
  
   .about-tittle {
     text-align: center;
   }
   .text{
     padding-top: 500px;
   }
   .navlink > button{
     padding-right: 40px;
   }
   nav > .navlink > button {
     width: 20px;
   }
   
 
   /* Styling for hamburger icon */
 
 }
 